[MASTER]
#load-plugins=pylint_django

#django-settings-module=compute.settings

logging-format-style=new

[MESSAGES CONTROL]
#enable=R,
#        missing-function-docstring

disable=line-too-long,
        #missing-module-docstring
        #missing-function-docstring,
        #missing-class-docstring,

generated-members=cv2.* o3d.* cv.*

[BASIC]

good-names=i,
           j,
           x,y,
           w,h
 
